---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Teams from "../components/Teams.astro";
import InstagramFeed from "../components/InstagramFeed.astro";
import Location from "../components/Location.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="VfL Primstal – Herzblut. Leidenschaft. Fußball."
  description="VfL Primstal e.V. – Der Fußballverein aus Nonnweiler-Primstal im Saarland. Gegründet 1931."
>
  <Header />
  <main>
    <Hero />
    <About />
    <Teams />
    <InstagramFeed />
    <Location />
    <Contact />
  </main>
  <Footer />
</Layout>
